In [1]:
#Series(for 1dimension)
#DataFrame(2 Dimension)
#Pannel(3 dimension)

In [2]:
#series

In [3]:
#inputs of Series
#Array
#list
#dict
#scalar value or constant value

In [1]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-2-f8daae661c20>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=pd.Series()

In [3]:
data=np.array(['A','B','C','d','E'])
print(data)

['A' 'B' 'C' 'd' 'E']

In [4]:
data.ndim

1

In [5]:
data=np.array(['A','B','C','d','E'])
s=pd.Series(data)
print(s)

0    A
1    B
2    C
3    d
4    E
dtype: object

In [6]:
s=pd.DataFrame(data)
print(s)

   0
0  A
1  B
2  C
3  d
4  E

In [8]:
data=np.array(['A','B','C','d','E'])
s=pd.Series(data,index=[100,101,102,103,104])
print(s)

100    A
101    B
102    C
103    d
104    E
dtype: object

In [9]:
#dictionary

In [10]:
data={'a':0,'b':1,'c':2}

In [11]:
data

{'a': 0, 'b': 1, 'c': 2}

In [12]:
type(data)

dict

In [13]:
a={1:20,2:30,4:50}

In [14]:
a

{1: 20, 2: 30, 4: 50}

In [15]:
type(a)

dict

In [16]:
data

{'a': 0, 'b': 1, 'c': 2}

In [17]:
s=pd.Series(data)
print(s)

a    0
b    1
c    2
dtype: int64

In [18]:
s=pd.Series(5,index=[0,1,2,3,4])
print(s)

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [11]:
s=pd.Series([10,20,30,40,50,60,70],index=['a','b','c','d','e','f','g'])
print(s)

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

In [13]:
s=pd.Series([10,20,30,40,50,60,70],index=[1,2,3,4,5,6,7])
print(s)

1    10
2    20
3    30
4    40
5    50
6    60
7    70
dtype: int64

In [15]:
print(s[1])

10

In [8]:
print(s['a'])

10

In [10]:
print(s[2])

30

In [22]:
print(s)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [23]:
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [24]:
#DataFrame
#List
#dictionary
#series
#array
#Another dataframe

In [2]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [34]:
data=[1,2,3,4,5,6,7,8,9]

In [35]:
data

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
type(data)

list

In [26]:
b=[10,20,30,40,50]

In [27]:
type(b)

list

In [32]:
data.extend(b)

In [33]:
data

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50,
 [10, 20, 30, 40, 50],
 10,
 20,
 30,
 40,
 50]

In [30]:
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [36]:
data=[['kewal',20],['praveen',22],['hemant',24],['ankit',27],['yash',30],['shalini',23]]
df=pd.DataFrame(data)
print(df)

         0   1
0    kewal  20
1  praveen  22
2   hemant  24
3    ankit  27
4     yash  30
5  shalini  23

In [37]:
data=[['kewal',20],['praveen',22],['hemant',24],['ankit',27],['yash',30],['shalini',23]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

      Name  Age
0    kewal   20
1  praveen   22
2   hemant   24
3    ankit   27
4     yash   30
5  shalini   23

In [38]:
data=[['kewal',20],['praveen',22],['hemant',24],['ankit',27],['yash',30],['shalini',23]]
df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

      Name   Age
0    kewal  20.0
1  praveen  22.0
2   hemant  24.0
3    ankit  27.0
4     yash  30.0
5  shalini  23.0

In [39]:
data=[['kewal',20],['praveen',22],['hemant',24],['ankit',27],['yash',30],['shalini',23]]
df=pd.DataFrame(data,columns=['Name','Age'],index=['r1','r2','r3','r4','r5','r6'],dtype=float)
print(df)

       Name   Age
r1    kewal  20.0
r2  praveen  22.0
r3   hemant  24.0
r4    ankit  27.0
r5     yash  30.0
r6  shalini  23.0

In [40]:
data={'Name':['Ankit','kewal','hemant','shalini','shaad'],"Age":[27,20,24,23,17]}

In [41]:
data

{'Name': ['Ankit', 'kewal', 'hemant', 'shalini', 'shaad'],
 'Age': [27, 20, 24, 23, 17]}

In [42]:
df=pd.DataFrame(data)
print(df)

      Name  Age
0    Ankit   27
1    kewal   20
2   hemant   24
3  shalini   23
4    shaad   17

In [43]:
df

      Name  Age
0    Ankit   27
1    kewal   20
2   hemant   24
3  shalini   23
4    shaad   17

In [46]:
df=pd.DataFrame(data,index=[100,101,102,103,104])
print(df)

        Name  Age
100    Ankit   27
101    kewal   20
102   hemant   24
103  shalini   23
104    shaad   17

In [48]:
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [49]:
data=[{'a':1,'b':2,'c':100},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data)
print(df)

   a   b    c
0  1   2  100
1  5  10   20

In [2]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','z','d'])}
df=pd.DataFrame(d)
print(df)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  NaN
d  NaN  4.0
z  NaN  3.0

In [3]:
print(df['two'])

a    1.0
b    2.0
c    NaN
d    4.0
z    3.0
Name: two, dtype: float64

In [4]:
df['three']=pd.Series([10,20,30],index=['a','b','c'])

In [6]:
df['four']=df['one']+df['three']

In [7]:
print(df)

   one  two  three  four
a  1.0  1.0   10.0  11.0
b  2.0  2.0   20.0  22.0
c  3.0  NaN   30.0  33.0
d  NaN  4.0    NaN   NaN
z  NaN  3.0    NaN   NaN

In [8]:
del df['one']

In [9]:
print(df)

   two  three  four
a  1.0   10.0  11.0
b  2.0   20.0  22.0
c  NaN   30.0  33.0
d  4.0    NaN   NaN
z  3.0    NaN   NaN

In [10]:
df.pop('two')

a    1.0
b    2.0
c    NaN
d    4.0
z    3.0
Name: two, dtype: float64

In [11]:
print(df)

   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN
z    NaN   NaN

In [60]:
s={"Apple":"red","banana":"yellow"}

In [61]:
s

{'Apple': 'red', 'banana': 'yellow'}

In [62]:
s["cherry"]="green"

In [63]:
s

{'Apple': 'red', 'banana': 'yellow', 'cherry': 'green'}

In [12]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','z','d'])}
df=pd.DataFrame(d)

In [13]:
print(df)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  NaN
d  NaN  4.0
z  NaN  3.0

In [14]:
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [15]:
print(df)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  NaN
d  NaN  4.0
z  NaN  3.0

In [16]:
print(df.iloc[1:,:3])

   one  two
b  2.0  2.0
c  3.0  NaN
d  NaN  4.0
z  NaN  3.0

In [17]:
print(df[2:4])

   one  two
c  3.0  NaN
d  NaN  4.0

In [20]:
print(df[2:3])

   one  two
c  3.0  NaN

In [19]:
print(df)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  NaN
d  NaN  4.0
z  NaN  3.0

In [21]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df1=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])

In [22]:
df

   a  b
0  1  2
1  3  4

In [23]:
df1

   a  b
0  5  6
1  7  8