In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("salaries.csv")
df.head()

  Company                  Job     degree  Salary_more_then_100k
0  google      Sales executive  bachelors                      0
1  google      Sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
inputs = df.drop('Salary_more_then_100k',axis='columns')

In [5]:
target = df['Salary_more_then_100k']

In [8]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [10]:
inputs['company_n'] = le_company.fit_transform(inputs['Company'])
inputs['job_n'] = le_job.fit_transform(inputs['Job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [11]:
inputs

       Company                  Job     degree  company_n  job_n  degree_n
0       google      Sales executive  bachelors          2      0         0
1       google      Sales executive    masters          2      0         1
2       google     business manager  bachelors          2      1         0
3       google     business manager    masters          2      1         1
4       google  computer programmer  bachelors          2      2         0
5       google  computer programmer    masters          2      2         1
6   abc pharma      Sales executive    masters          0      0         1
7   abc pharma  computer programmer  bachelors          0      2         0
8   abc pharma     business manager  bachelors          0      1         0
9   abc pharma     business manager    masters          0      1         1
10    facebook      Sales executive  bachelors          1      0         0
11    facebook      Sales executive    masters          1      0         1
12    facebook     business manager  bachelors          1      1         0
13    facebook     business manager    masters          1      1         1
14    facebook  computer programmer  bachelors          1      2         0
15    facebook  computer programmer    masters          1      2         1

In [12]:
inputs_n = inputs.drop(['Company','Job','degree'],axis='columns')

In [13]:
inputs_n

    company_n  job_n  degree_n
0           2      0         0
1           2      0         1
2           2      1         0
3           2      1         1
4           2      2         0
5           2      2         1
6           0      0         1
7           0      2         0
8           0      1         0
9           0      1         1
10          1      0         0
11          1      0         1
12          1      1         0
13          1      1         1
14          1      2         0
15          1      2         1

In [14]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: Salary_more_then_100k, dtype: int64

In [15]:

from sklearn import tree
model = tree.DecisionTreeClassifier()

In [16]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [17]:
#DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

IndentationError: unexpected indent (<ipython-input-17-0bd62bd687c5>, line 2)

In [18]:
model.score(inputs_n,target)

1.0

In [19]:

#Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?

In [20]:

model.predict([[2,1,0]])

array([1], dtype=int64)

In [21]:
#Is salary of Google, Computer Engineer, Masters degree > 100 k ?

In [22]:
model.predict([[2,1,1]])

array([1], dtype=int64)

In [23]:
#question
Exercise: Build decision tree model to predict survival based on certain parameters

SyntaxError: invalid syntax (<ipython-input-23-df7f48ad22b4>, line 2)

In [24]:
#In this file using following columns build a model to predict if person would survive or not,
#Pclass
#Sex
#Age
#Fare
#Calculate score of your model 
#Data is Titanic .csv

SyntaxError: invalid syntax (<ipython-input-24-277a8e0778e7>, line 1)